html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
@font-face {
    font-family: 'Reforma Grotesk Medium';
    src: url('../fonts/ReformaGroteskMedium.eot');
    src: local('Reforma Grotesk Medium'), local('ReformaGroteskMedium'),
        url('../fonts/ReformaGroteskMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ReformaGroteskMedium.woff2') format('woff2'),
        url('../fonts/ReformaGroteskMedium.woff') format('woff'),
        url('../fonts/ReformaGroteskMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* roboto-300 - latin_cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v29-latin_cyrillic-ext-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
  /* roboto-regular - latin_cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
  /* roboto-700 - latin_cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}
img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1420px;
    margin: 0 auto;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(23, 22, 24, 0.87)
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}
.header__logo {
    margin-left: 87px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 71px;
    padding-top: 23px;
    padding-bottom: 17px;
}
.header__item {
    margin-right: 26px;
}
.header__item:last-child {
    margin-right: 0px;
}
.header__link {
    position: relative;
    cursor: pointer;
    font-family: 'Reforma Grotesk Medium';
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__link:after {
    display: block;
	position: absolute;
    left: 30%;
    height: 2px;
    background-color:  #FFB300;
	content: "";
}
.header__link:hover:after, .header__link:active:after {
    width: 20px;
}
.active__link {
    position: relative;
    font-family: 'Reforma Grotesk Medium';
    font-weight: 500;
    cursor: pointer;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.active__link:after {
    position: absolute;
    display: block;
    height: 2px;
    background-color:  #FFB300;
    content: "";
    width: 20px;
    left: 30%;
}
.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(208.33deg, #FFB300 19.3%, #FF6600 114.47%);
    position: absolute;
}
.burger__line-first {
    top: 0;
}
.burger__line-second {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line-third {
    bottom: 0;
}
@media screen and (max-width: 848px) {
    .header__logo {
        margin-left: 20px;
    }
}
@media screen and (max-width: 768px) {
    .header__burger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
        cursor: pointer;
    }
    .header__nav {
        width: 100%;
        top: -70px;
        left: 0;
        background: #ac7104;
        z-index: 10;
        padding: 35px 10px 30px 20px;
        transform: translateY(-150%);
        transition: .2s all linear;
        position: absolute;
    }
    .header__nav_active {
        transform: translateY(129px);
        cursor: pointer;
    }
    .header__item {
        width: 50%;
        margin-right:0;
        margin-bottom: 15px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 42px;
        line-height: 48px;
    }
    .active__link {
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }
    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background: linear-gradient(208.33deg, #FFB300 19.3%, #FF6600 114.47%);
        position: absolute;
        top: 50%;
    }
    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__logo {
        margin-left: 15%;
    }
}
@media screen and (max-width: 600px) {
    .header__burger {
        display: block;
    }
    .header__nav {
        width: 100%;
        top: -70px;
        left: 0;
        background: #ac7104;
        z-index: 50;
        padding: 15px;
        transform: translateY(-150%);
        transition: .2s all linear;
    }
    .header__nav_active {
        transform: translateY(129px);
    }
    .header__item {
        width: 200px;
        margin-right:0;
        margin-bottom: 15px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 32px;
        line-height: 38px;
    }
    .active__link {
        font-size: 32px;
        line-height: 38px;
    }
}
@media screen and (max-width: 370px) {
    .header__burger {
        display: block;
    }
    .header__nav {
        width: 100%;
        top: -70px;
        left: 0;
        background: #ac7104;
        z-index: 50;
        padding: 45px;
        transform: translateY(-150%);
        transition: .2s all linear;
    }
    .header__nav_active {
        transform: translateY(129px);
    }
    .header__item {
        width: 100%;
        margin-right:0;
        margin-bottom: 30px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 22px;
        line-height: 28px;
    }
    .active__link {
        font-size: 22px;
        line-height: 28px;
    }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 30;
    }
    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background: linear-gradient(208.33deg, #FFB300 19.3%, #FF6600 114.47%);
        position: absolute;
        top: 50%;
    }
    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__logo {
        margin-left: 10%;
    }
}
@media screen and (max-width: 340px) {
    .header__burger {
        display: block;
    }
    .header__nav {
        width: 100%;
        top: -70px;
        left: 0;
        background: black;
        z-index: 50;
        padding: 45px;
        transform: translateY(-150%);
        transition: .2s all linear;
    }
    .header__nav_active {
        transform: translateY(129px);
    }
    .header__item {
        width: 100%;
        margin-right:0;
        margin-bottom: 30px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 22px;
        line-height: 28px;
    }
    .active__link {
        font-size: 22px;
        line-height: 28px;
    }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 30;
    }
    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background: linear-gradient(208.33deg, #FFB300 19.3%, #FF6600 114.47%);
        position: absolute;
        top: 50%;
    }
    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__logo {
        margin-left: 5%;
    }
}
/*intro styles*/
.intro {
    width: 100%;
    background: url(../img/png/mainbackground.png) no-repeat top center;
    padding-top: 176px;
}
.intro__title {
    font-weight: 300;
    font-family: 'Roboto';
    font-style: normal; 
    font-size: 18px;
    line-height: 27px;
    color: #2A292E;
    max-width: 545px;
    padding-left: 110px;
}
.intro__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #2A292E;
    max-width: 509px;
    padding-left: 110px;
}
.intro__subtitle:first-child {
    padding-top: 13px;
}
.intro__subtitle1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #2A292E;
    max-width: 509px;
    padding-left: 110px;
}
.intro__shapes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 170px;
    justify-content: space-between;
    padding-left: 110px;
    padding-top: 13px;
    padding-bottom: 62px;
}
.intro__shape {
    cursor: pointer;
}
@media screen and (max-width: 1100px) {
    .intro__title {
        -webkit-text-stroke-width: 1.1px;
        -webkit-text-stroke-color: #100f0f;
    }
}
@media screen and (max-width: 600px) {
    .intro {
        padding-top: 30px;            
    }
    .intro__title, .intro__subtitle, .intro__subtitle1 {
        -webkit-text-stroke-width: 1.1px;
        -webkit-text-stroke-color: #100f0f;
        padding-left: 20px;
        max-width: 100%;
    }
    .intro__subtitle {
        font-size: 30px;
        -webkit-text-stroke-width: 1.1px;
        -webkit-text-stroke-color: #100f0f;
    }
}
/*activity styles*/
.activity {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1420px;
    background: #2A292E;
}
.activity__house {
    display: flex;
    flex-wrap: wrap;
}
.activity__left {
    width: auto;
}
.activity__title {
    background: #3F3E42;
}
.left__title {
    font-family: 'Reforma Grotesk Medium';
    font-size: 41px;
    line-height: 149%;
    color: #ffffff;
    letter-spacing: 0.11em;
    padding-top: 54px;
    padding-left: 41px;
    padding-bottom: 58px;
    max-width: 300px;
}
.activity__left-picture {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.activity__right {
    background: #2A292E;
}
.activity__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.activity__item {
    width: 33%;
    max-width: 300px;
    height: 190px;
    background: #2A292E;
    cursor: pointer;
}
.activity__item:hover, .activity__item:active {
    background-color: #3F3E42;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.activity__secret-text {
    display: none;
}
.activity__block-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.activity__block-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 20px;
}
@media screen and (max-width: 1440px) {
    .activity {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
    }
    .activity__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .activity__left {
        display: none;
    }
    .left__title {
        font-family: 'Reforma Grotesk Medium';
        font-size: 41px;
        line-height: 56px;
        color: #ffffff;
        letter-spacing: 0.11em;
        padding-top: 50px;
        padding-left: 71px;
    }
    .activity__left-picture {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .activity__title {
        height: 210px;
        background: #3F3E42;
    }
    .activity__right {
        background: #2A292E;
    }
    .activity__box {
        max-width: 945px;
        width: 100%;
        height:407px;
        left: 105px;
        top: 32px;
    }
    .activity__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .activity__item {
        width: 33%;
        max-width: 280px;
        height: 190px;
        background: #2A292E;
        cursor: pointer;
    }
    .activity__block-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 47px;
        padding-bottom: 20px;
        width: 100%;
    }
    .activity__item:hover, .activity__item:active {
        background-color: #3F3E42;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    .activity__secret-text {
        display: none;
    }
    .activity__block-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }
    .activity__block-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 47px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 920px) {
    .activity__item:hover, .activity__item:active {
        background-color: #3F3E42;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@media screen and (max-width: 780px) {
    .activity__house {
        background: #3F3E42;
        display: flex;
        flex-wrap: wrap;
    }
    .activity__left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    .left__title {
        font-family: 'Reforma Grotesk Medium';
        font-size: 51px;
        line-height: 56px;
        color: #ffffff;
        letter-spacing: 0.11em;
        padding-top: 20px;
        padding-left: 21px;
    }
    .activity__right {
        background: #2A292E;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .activity__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .activity__item {
        width: 50%;
        max-width: 280px;
        height: 190px;
        background: #2A292E;
        cursor: pointer;
    }
    .activity__item:hover, .activity__item:active {
        background-color: #3F3E42;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@media screen and (max-width: 680px) {
    .activity {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        max-width: 1420px;
    }
    .activity__title {
        height: auto;
    }
    .activity__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .activity__item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        justify-content: space-evenly;
    }
    .activity__item:hover, .activity__item:active {
        background-color: #3F3E42;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    .activity__house {
        background: #3F3E42;
        display: flex;
        flex-wrap: wrap;
    }
    .activity__left {
        display: flex;
    }
}
@media screen and (max-width: 580px) {
    .activity__house {
        background: #3F3E42;
    }
    .left__title {
        font-family: 'Reforma Grotesk Medium';
        font-size: 41px;
        line-height: 56px;
        color: #ffffff;
        letter-spacing: 0.11em;
        padding-top: 20px;
        padding-left: 21px;
    }
    .activity__item:hover, .activity__item:active {
        background-color: #3F3E42;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@media screen and (max-width: 380px) {
    .activity__house {
        background: #3F3E42;
    }
    .activity__title {
        height: auto;
    }
    .left__title {
        font-family: 'Reforma Grotesk Medium';
        font-size: 41px;
        line-height: 56px;
        color: #ffffff;
        letter-spacing: 0.11em;
        padding-top: 25px;
        padding-left: 11px;
        padding-bottom: 20px;
    }
    .activity__item {
        flex-direction: column;
    }
    .activity__item:hover, .activity__item:active {
        background-color: #3F3E42;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}



/*company styles*/
.company {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1420px;
    background: url(../img/png/whitesphere.png) no-repeat center;
}

.company__house {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 100px;
}
.company__list {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding-right: 20px;
    padding-left: 45px;
}
.company__piece {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 10px;
}
.company__piece:last-child {
    padding-bottom: 0;
}
.company__block {
    font-family: 'Reforma Grotesk Medium';
    font-size: 51px;
    line-height: 76px;
    color: #2A292E;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    padding-left: 77px;
}
.company__item1 {
    width: 310px;
}
.company__item2 {
    width: 650px;
}
@media screen and (max-width: 1440px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .company__item1 {
        writing-mode:vertical-rl;
        transform:scale(-1);
        width: 80px;
    }
    .company__item2 {
        width: 600px;
    }
    .company__item3 {
        padding-top: 20px;
    }
}
@media screen and (max-width: 1160px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .company__item1 {
        writing-mode: horizontal-tb;
        transform:scale(1);
        width: 310px;
    }
    .company__item2 {
        width: 800px;
    }
    .company__item3 {
        padding-top: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 30px;
    }
    .company__item2 {
        width: 550px;
    }
    .company__item3 {
        padding-top: 20px;
    }
}
@media screen and (max-width: 900px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .company__item2 {
        width: 800px;
    }
    .company__item3 {
        padding-top: 20px;
    }
}
@media screen and (max-width: 780px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .company__item3 {
        padding-top: 20px;
    }
}
@media screen and (max-width: 680px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .company__item3 {
        padding-top: 30px;
    }
}
@media screen and (max-width: 580px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .company__item3 {
        padding-top: 20px;
    }
}
@media screen and (max-width: 480px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .company__item3 {
        padding-top: 20px;
    }
}
@media screen and (max-width: 380px) {
    .company__house {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .company__item3 {
        padding-top: 20px;
    }
}
/*watchword styles*/
.watchword {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1420px;
    background: url(../img/png/blacksphere.png) no-repeat center;
}
.watchword__house {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 70px;
    padding-bottom: 40px;
}
.watchword__item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}
.watchword__item-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}
.watchword__item-text {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .watchword {
        display: block;
        margin: 0 auto;
        width: 100%;
        background: url(../img/png/blacksphere.png) center;
    }
    .watchword__house {
        padding: 20px 0;
    }
    .watchword__item-text {
        width: 190px;
    }
}
@media screen and (max-width: 760px) {
    .watchword {
        display: block;
        margin: 0 auto;
        width: 100%;
        background: url(../img/png/blacksphere.png) center;
    }
    .watchword__house {
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .watchword__item {
        padding: 20px 0;
    }
    .watchword__item-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10px;
    }
    .watchword__item-text {
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 650px) {
    .watchword {
        display: block;
        margin: 0 auto;
        width: 100%;
        background: url(../img/png/blacksphere.png) center;
    }
    .watchword__house {
        width: 100%;
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .watchword__item {
        padding: 20px 0;
    }
    .watchword__item-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10px;
    }
    .watchword__item-text {
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .watchword__item:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
    }
}
@media screen and (max-width: 590px) {
    .watchword {
        display: block;
        margin: 0 auto;
        width: 100%;
        background: url(../img/png/blacksphere.png) center;
    }
    .watchword__item {
        padding: 20px 0;
    }
    .watchword__item-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10px;
    }
    .watchword__item-text {
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 470px) {
    .watchword {
        display: block;
        margin: 0 auto;
        width: 100%;
        background: url(../img/png/blacksphere.png) center;
    }
    .watchword__item {
        width: 100%;
        padding: 20px 0;
    }
    .watchword__item-pic {
        width: 100%;
        }
    .watchword__item-text {
        width: 100%;
    }
}
/*partners styles*/
.partners {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1420px;
    background: url(../img/png/partnersbackground.png) no-repeat center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.partners__block1 {
    font-family: 'Reforma Grotesk Medium';
    font-size: 50.9091px;
    line-height: 76px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 99px;
    padding-top: 23px; 
}
.partners__block2 {
    padding-left: 0;
    padding-top: 57px;
}
.partners__house {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
}
.partners__item {
    padding-top: 77px;
}
.partners__piece {
    position: relative;
    padding-bottom: 10px;
}
.partners__piece:last-child {
    padding-bottom: 0;
}
.partners__piece-text {
    position: absolute;
    left: 201px;
    top: 25px;
    font-size: 17px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.partners__item2 {
    display: none;
}
.partners__item3 {
    display: none;
}
@media screen and (max-width: 1180px) {
    .partners {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        background: url(../img/png/partnersbackground.png) no-repeat center;
        background-size: cover;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .partners__block2 {
        display: block;
        padding-top: 20px;
    }
    .partners__item {
        display: none;
    }
    .partners__item2 {
        padding-top: 75px;
        display: block;
    }
    .partners__piece2 {
        position: relative;
        padding-bottom: 10px;
    }
    .partners__piece-text2 {
        position: absolute;
        left: 201px;
        top: 10px;
        font-size: 17px;
        line-height: 20px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}
@media screen and (max-width: 900px) {
    .partners {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        background: url(../img/png/partnersbackground.png) no-repeat center;
        background-size: cover;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .partners__block2 {
        display: block;
        padding-top: 20px;
    }
    .partners__item {
        display: block;
        padding-top: 15px;
    }
    .partners__item2 {
        display: none;
    }
    .partners__piece2 {
        position: relative;
        padding-bottom: 10px;
    }
    .partners__piece-text2 {
        position: absolute;
        left: 201px;
        top: 10px;
        font-size: 17px;
        line-height: 20px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}
@media screen and (max-width: 755px) {
    .partners {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        background: url(../img/png/partnersbackground.png) no-repeat center;
        background-size: cover;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .partners__block2 {
        display: block;
        padding-top: 20px;
    }
    .partners__item {
        display: none;
    }
    .partners__item2 {
        padding-top: 75px;
        display: block;
    }
    .partners__piece2 {
        position: relative;
        padding-bottom: 10px;
    }
    .partners__piece-text2 {
        position: absolute;
        left: 201px;
        top: 10px;
        font-size: 17px;
        line-height: 20px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}
@media screen and (max-width: 455px) {
    .partners__item2 {
        display: none;
    }
    .partners__item3 {
        display: block;
    }
    .partners__piece3 {
        position: relative;
        padding-bottom: 10px;
    }
    .partners__piece-text3 {
        position: absolute;
        left: 10px;
        bottom: 25px;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}
/*footer styles*/
.footer {
    background: #E3EAEE;
    width: 100%;
} 
.foot__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.foot__item-left1 {
    width: 490px;
    display: flex;
    flex-wrap: wrap;
}
.foot__item-left2 {
    width: 490px;
    padding-bottom: 30px;
}
.foot__item-name {
    padding-right: 30px;
    padding-bottom: 20px;
}
input {
    border: 1px solid #C5D3DB;
    width: 230px;
    height: 40px;
}
.foot__left-name {
    font-family: 'Reforma Grotesk Medium';
    font-size: 51px;
    line-height: 76px;
    letter-spacing: 0.11em;
    text-transform: uppercase;  
    color: #2A292E;
    padding-top: 23px;
}
textarea {
    border: 1px solid #C5D3DB;
    width: 490px;
    height: 140px;
	resize: none;
}
.foot__item-left3 {
    max-width: 500px;
    padding-bottom: 30px;
}
.foot__item-button {
    width: 160px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(208.33deg, #FFB300 19.3%, #FF6600 114.47%);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #2A292E;
    text-decoration: none;
}
.foot__item-button:hover {
    box-shadow: 0 7px 12px #d46115;
}
.foot__contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #2A292E;
}
.foot__contacts-us:first-child {
    padding-top: 39px;
}
.foot__contacts-us {
    padding-bottom: 10px;
    padding-left: 35px;
}
.cont__mail {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    text-decoration: none;
    color: rgba(42, 41, 46, 0.85);
}
.cont__mail::before {
    content: url(../img/svg/mail.svg);
    position: absolute;
    left: -35px;
    bottom: -5px;
}
.cont__tel {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    text-decoration: none;
    color: rgba(42, 41, 46, 0.85);
}
.cont__tel::before {
    content: url(../img/svg/phone.svg);
    position: absolute;
    left: -35px;
    bottom: -5px;
}
.cont__adr {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    text-decoration: none;
    color: rgba(42, 41, 46, 0.85);
}
.cont__adr::before {
    content: url(../img/svg/map-pin.svg);
    position: absolute;
    left: -35px;
    bottom: -5px;
    
}
.cont__site {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    text-decoration: none;
    color: rgba(42, 41, 46, 0.85);
}
.cont__site::before {
    content: url(../img/svg/globe.svg);
    position: absolute;
    left: -35px;
    bottom: -5px;
}
/*slick slider*/
.slider {
    width: 100%;
    margin: 0 auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    max-width: 1420px;
    width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}
.slick-active {
    opacity: .5;
}
.slick-current {
    opacity: 1;
}
@media screen and (max-width: 1045px) {
    .footer {
        background: #E3EAEE;
        width: 100%;
    } 
    .foot__box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .foot__list {
        max-width: 400px;
    }
    input {
        border: 1px solid #C5D3DB;
        width: 150px;
        height: 40px;
    }
    textarea {
        border: 1px solid #C5D3DB;
        width: 330px;
        height: 140px;
        resize: none;
    }
    .foot__item-left1 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
    }
    .foot__item-button {
        width: 330px;
    }
    .foot__item-left2 {
        padding-left: 20px;
        padding-bottom: 30px;
    }
    .foot__left-name {
        font-family: 'Reforma Grotesk Medium';
        font-size: 51px;
        line-height: 76px;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        color: #2A292E;
        padding-top: 23px;
        padding-left: 20px;
    }
    .foot__item-left3 {
        max-width: 180px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 820px) {
    .footer {
        background: #E3EAEE;
        width: 100%;
    } 
    .foot__box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .foot__list {
        max-width: 350px;
    }
    input {
        border: 1px solid #C5D3DB;
        width: 250px;
        height: 40px;
    }
    .foot__item-button {
        width: 250px;
    }
    textarea {
        border: 1px solid #C5D3DB;
        width: 250px;
        height: 100px;
        resize: none;
    }
    .foot__item-left1 {
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 20px;
    }
    .foot__item-left2 {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 30px;
    }
    .foot__left-name {
        font-family: 'Reforma Grotesk Medium';
        font-size: 51px;
        line-height: 76px;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        color: #2A292E;
        padding-top: 23px;
        padding-left: 20px;
    }
    .foot__item-left3 {
        max-width: 180px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 720px) {
    .footer {
        background: #E3EAEE;
        width: 100%;
    } 
    .foot__box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .foot__list {
        max-width: 420px;
    }
    input {
        border: 1px solid #C5D3DB;
        width: 410px;
        height: 40px;
    }
    textarea {
        border: 1px solid #C5D3DB;
        width: 410px;
        height: 140px;
        resize: none;
    }
    .foot__item-left1 {
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .foot__item-left2 {
        width: 400px;
        padding-left: 10px;
        padding-bottom: 30px;
    }
    .foot__item-button {
        width: 409px;
    }
    .foot__left-name {
        font-family: 'Reforma Grotesk Medium';
        font-size: 51px;
        line-height: 76px;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        color: #2A292E;
        padding-top: 23px;
        padding-left: 10px;
    }
    .foot__item-left3 {
        max-width: 180px;
        padding-left: 10px;
    }
    .foot__contacts {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        text-transform: capitalize;
        color: #2A292E;
    }
    .foot__item-name {
        width: 380px;
    }
}
@media screen and (max-width: 460px) {
    .footer {
        background: #E3EAEE;
        width: 100%;
    } 
    .foot__box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .foot__list {
        max-width: 300px;
    }
    input {
        border: 1px solid #C5D3DB;
        width: 220px;
        height: 40px;
    }
    textarea {
        border: 1px solid #C5D3DB;
        width: 220px;
        height: 100px;
        resize: none;
    }
    .foot__item-left1 {
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 15px;
        width: 220px;
    }
    .foot__item-left2 {
        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 30px;
        width: 220px;
    }
    .foot__left-name {
        font-family: 'Reforma Grotesk Medium';
        font-size: 41px;
        line-height: 76px;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        color: #2A292E;
        padding-top: 23px;
        padding-left: 15px;
    }
    .foot__item-left3 {
        max-width: 180px;
        padding-left: 15px;
    }
    .foot__item-button {
        width: 219px;
    }
    .foot__contacts {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        color: #2A292E;
        padding-left: 15px;
    }
    .foot__item-name {
        width: 208px;
    }
}
